@using OdeToFood.Controllers
@model OdeToFood.Entities.Restaurant


<h1>@Model.Name</h1>

<div>Id: @Model.Id</div>
<div>
    Cuisine: @Model.Cuisine
</div>
@* can use nameof here too, just have to add a using statement up above. *@
<div>@Html.ActionLink("Go home", nameof(HomeController.Index))</div>
