@* with teh data source chaned to a list, this needs to be redefined *@
@model IEnumerable<OdeToFood.Models.Restaurant>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ode to Food</title>
</head>
<body>
    <h1>Welcome</h1>
    <table>
        @* the @ indicates the start of cs code. *@
        @foreach (var restaurant in Model)
        {
            <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
</body>
</html>